body,td,th {
	background-color: #000;
	font-family: Verdana, Geneva, sans-serif;
}
a:link {
	color: #CCC;
	text-decoration: none;
}
a:visited {
	color: #999;
	text-decoration: none;
}
a:hover {
	color: #FFF;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.sidebar_right_content {
	width: 210px;
	height: 520px;
	overflow: hidden;
	top: 0px;
	position: absolute;
	padding-right: 13px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.sidebar_right_content1 {
	width: 210px;
	overflow: hidden;
	bottom: 100px;
	position: absolute;
	padding-right: 13px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.sidebar_right_menu {
	width: 210px;
	height: 60px;
	overflow: hidden;
	bottom: 68px;
	position: absolute;
	padding: 0px;
	margin: 0px;
	left: -9px;
}

	
	a, img {border:none;}
